{% extends './dashboard/dashboard.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-8">
            <h1>Création d'une catégorie de partenariat</h1>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn-lg btn-secondary" href="{{ path('categorie_partenaire_index') }}">Back to the list</a>
            <input type="submit" class="btn-lg btn-success" value="Create"/>
        </div>
    </div>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
