{% extends './dashboard/dashboard.html.twig' %}
{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <style href="cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"></style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>
        $(function(){
            $('#partnershipbundle_client_categorie').parent().css('display', 'none');
            $('#partnershipbundle_client_type').change(function() {
                if (($("#partnershipbundle_client_type  option:selected").val() == 'Client')
                    || $("#partnershipbundle_client_type  option:selected").val() == 'Administrateur') {
                    $('#partnershipbundle_client_categorie').parent().css('display', 'none');
                } else {
                    $('#partnershipbundle_client_categorie').parent().css('display', '');
                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <h1>Creation d'un nouveau client</h1>
        </div>
        <div class="col-md-5 text-right">
            <a class="btn-lg btn-success" href="{{ path('client_index') }}">Back to the list</a>
            <input type="submit" class="btn-lg btn-secondary" value="Create"/>
        </div>
    </div>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_widget(form) }}

{% endblock %}
